<configuration>
    <!-- This is a development logging configuration that logs to standard out, for an example of a production
        logging config, see the Akka docs: https://doc.akka.io/docs/akka/2.6/typed/logging.html#logback -->
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/epsmi2.log</file>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mhm" level="info" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="com.googlecode.jsonrpc4j" level="error" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>

    <root level="debug">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
